#!/usr/bin/env ruby

author = "Joe McDonagh <jmcdonagh@thesilentpenguin.com>"
copyright = "The Silent Penguin LLC"
license = "The Silent Penguin Properietary License"
vim_modeline = '#vim: set expandtab ts=3 sw=3:'
